# A continuacion se encuentran las variables de entorno necesarias para la ejecucion
POSTGRES_USER
POSTGRES_PASSWORD
POSTGRES_DB

DATABASE_URL

# Datos para la conexion al broker
RABBITMQ_HOST
RABBITMQ_PORT
RABBITMQ_USER
RABBITMQ_PASSWORD
CODIGO_CIUDAD

# Datos del AWS para la conexion del EC2 con el ECR
API_IMAGE_URI

# Datos de variables para Auth0 y JWK
AUTH0_DOMAIN
AUTH0_AUDIENCE

# Datos de licencia de New Relic
NEW_RELIC_LICENSE_KEY