# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Entornos virtuales
.venv/

# Variables de entorno
.env

# IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store

# Logs
*.log
output/

#Credenciales
key-ec2-cityexpress-api.pem