# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Entornos virtuales
.venv/

# Variables de entorno
.env

# IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store

# Logs
*.log
output/

#Credenciales
key-ec2-cityexpress-api.pem

# Test de Python adicionales
.pytest_cache/
.coverage

# Dependencias de los otros microservicios (Node y Serverless)
**/node_modules/
**/.serverless/

# Temporales de AWS CDK
infra/cdk.out/
infra/.cdk.staging/